<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUZZLE.DEV</title>
    <link href="./dist/output.css" rel="stylesheet">
    <link rel="stylesheet" href="./src/css/global.css">
</head>

<body>
    <header class="fixed top-0 left-0 right-0 z-20 header">
        <div class="container flex justify-between items-center mx-auto sm:py-2 py-1 header__container">
            <a href="#" class="header__logo-link">
                <picture class="header__logo-picture">
                    <!-- <source srcset="/layout/src/img/header-logo.svg" type="image/svg+xml"> -->
                    <source srcset="./src/img/header-logo-mobile.svg" media="(max-width: 640px)" type="image/svg+xml">
                    <img src="./src/img/header-logo.svg" alt="logo">
                </picture>
            </a>
            <nav class="lg:flex items-center max-w-xl w-full hidden header__nav">
                <ul class="flex flex-wrap justify-between w-full items-center header__list text-2xl">
                    <li class="header__item"><a href="" class="header__item-link">О нас</a></li>
                    <li class="header__item"><a href="" class="header__item-link">Услуги</a></li>
                    <li class="header__item"><a href="" class="header__item-link">Цены</a></li>
                    <li class="header__item"><a href="" class="header__item-link">Контакты</a></li>
                </ul>
            </nav>
            <div class="lg:hidden flex w-10 h-9 header__burger">
                <button class="relative w-10 h-9 header__burger-btn">
                    <span class="absolute top-0 flex w-10 h-1 header__burger-line header__burger-line-1"></span>
                    <span class="absolute top-4 flex w-10 h-1 header__burger-line header__burger-line-2"></span>
                    <span class="absolute top-8 flex w-10 h-1 header__burger-line header__burger-line-3"></span>
                </button>
            </div>
        </div>
    </header>
    <main class="sm:mt-24 mt-16 main">
        <section class="hero">
            <div class="relative flex container lg:min-h-[533px] sm:min-h-[448px] min-h-[323px] m-auto hero__container">
                <div class="z-10 flex flex-col sm:items-start items-center xl:mt-[118px] lg:mt-[144px] sm:mt-[95px] mt-[33px] w-full sm:text-left text-center hero__block">
                    <h1 class="lg:mb-[11px] sm:mb-[24px] mb-[19px] 2xl:text-[56px] xl:text-[50px] lg:text-[37px] sm:text-[33px] text-[21px] xl:leading-[66px] lg:leading-[50px] sm:leading-[45px] leading-[25px] hero__title">
                        Привет!<br/>Мы студия &lt PUZZLE.DEV /&gt</h1>
                    <span class="2xl:mb-[55px] xl:mb-[48px] sm:mb-[42px] mb-[28px] xl:max-w-[539px] lg:max-w-[310px] sm:max-w-[280px] max-w-[220px] 2xl:text-[26px] xl:text-[22px] sm:text-[18px] text-[14px] text-slate-500 hero__span">
                        разрабатываем digital-продукты, за плечами большой опыт в разработке.
                    </span>
                    <a href="#" class="md:pt-2.5 pt-1 2xl:w-[338px] md:w-[292px] w-[220px] md:h-[66px] h-[43px] md:text-[26px] text-[20px] text-slate-50 text-center hero__link">Связаться с нами</a>
                </div>
                <picture class="absolute sm:flex hidden bottom-0 right-[5px] hero__picture">
                    <source srcset="./src/img/hero-bg-320.svg" media="(max-width: 640px)" type="image/svg+xml">
                    <source srcset="./src/img/hero-bg-768.svg" media="(max-width: 1024px)" type="image/svg+xml">
                    <source srcset="./src/img/hero-bg-1024.svg" media="(max-width: 1280px)" type="image/svg+xml">
                    <img src="./src/img/hero-bg.svg" alt="">
                </picture>
            </div>
        </section>
        <section class="services">
            <div class="flex flex-col items-center container m-auto 2xl:py-[80px] xl:py-[70px] sm:py-[60px] py-[37px] services__container">
                <h2 class="lg:mb-[50px] md:mb-[66px] mb-[54px] lg:text-[47px] sm:text-[30px] text-[20px] services__title">Наши услуги</h2>
                <ul class="flex sm:flex-row flex-col sm:items-start items-center justify-between md:mb-[17px] mb-[23px] xl:max-w-[920px] lg:max-w-[750px] md:max-w-[576px] w-full sm:min-h-0 min-h-[490px] xl:text-[24px] lg:text-[20px] text-[17px] text-center services__list">
                    <li class="lg:pt-[128px] pt-[93px] xl:max-w-[250px] lg:max-w-[220px] max-w-[170px] w-full lg:min-h-[240px] sm:min-h-[210px] min-h-[150px] services__item services__item-1">Создание сайта</li>
                    <li class="lg:pt-[128px] pt-[93px] xl:max-w-[250px] lg:max-w-[220px] max-w-[170px] w-full lg:min-h-[240px] sm:min-h-[210px] min-h-[150px] services__item services__item-2">Автоматизация по работе с клиентами</li>
                    <li class="lg:pt-[128px] pt-[93px] xl:max-w-[250px] lg:max-w-[220px] max-w-[170px] w-full lg:min-h-[240px] sm:min-h-[210px] min-h-[150px] services__item services__item-3">Создание ботов</li>
                </ul>
                <a href="#" class="md:pt-2.5 pt-1 2xl:w-[338px] md:w-[292px] w-[220px] md:h-[66px] h-[43px] md:text-[26px] text-[20px] text-slate-50 text-center services__link">Связаться с нами</a>
            </div>
        </section>
    </main>
</body>

</html>