<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUZZLE.DEV</title>
    <link href="./dist/output.css" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="container flex justify-between items-center mx-auto py-2 header__container">
            <a href="#" class="header__logo-link">
                <img class="header__logo-img" src="/layout/src/img/header-logo.svg" alt="PUZZLE.DEV">
            </a>
            <nav class="flex items-center max-w-xl w-full header__nav">
                <ul class="flex flex-wrap justify-between w-full items-center header__list font-serif text-2xl">
                    <li class="header__item"><a href="" class="header__item-link">О нас</a></li>
                    <li class="header__item"><a href="" class="header__item-link">Услуги</a></li>
                    <li class="header__item"><a href="" class="header__item-link">Цены</a></li>
                    <li class="header__item"><a href="" class="header__item-link">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>

</html>