.header {
  background-color: #fff;
  box-shadow: 0px 5px 40px rgb(0 0 0 / 10%);
}

.header__item:hover > .header__span {
  width: 100%;
}

.header__span {
  background-color: rgb(196, 117, 27);
  transition: width 0.3s linear;
}

.header__burger-line {
  transform-origin: center;
  background: linear-gradient(91.01deg, #04026a 22.55%, #ff5c01 108.51%);
  transition: top 0.3s linear, right 0.3s linear, transform 0.3s linear,
    opacity 0.3s linear;
}

.header__burger-menu {
  background-color: #fff;
  box-shadow: 0px 5px 40px rgb(0 0 0 / 10%);
  transition: right 0.3s linear;
}

.header__burger-menu-span {
  background-color: rgb(196, 117, 27);
  transition: width 0.2s linear;
}

.header__burger-item:hover > .header__burger-menu-span,
.header__burger-item:active > .header__burger-menu-span,
.header__burger-item:focus > .header__burger-menu-span {
  width: 100%;
}
