.form__textarea,
.form__input {
    background-color: #EEEEEE;
    border-radius: 10px;
}

.form__textarea {
    resize: none;
}

.form__submit {
    background-color: #AB3E00;
    border-radius: 10px;
    transition: background-color .3s linear;
}

.form__submit:hover,
.form__submit:active,
.form__submit:focus {
    background-color: rgb(196, 117, 27);
}