.header {
    background-color: #fff;
    box-shadow: 0px 5px 40px rgb(0 0 0 / 10%);
}

.header__burger-line {
    background: linear-gradient(91.01deg, #04026A 22.55%, #FF5C01 108.51%);
}

.header__span {
    background-color: rgb(196, 117, 27);
    transition: width .3s linear;
}

.header__item:hover > .header__span {
    width: 100%;
}